.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  & li {
    margin: 10px;
    cursor: pointer;
    transition: color 0.5s ease-out, transform 0.5s ease-out;
  }
  & li:hover {
    color: blue;
    transform: translate(5px, -5px);
  }
}
