.project {
  /* display: flex;
  flex-direction: column;
  justify-content: center; 
  align-content: center; */
  & h1 {
    text-align: center;
  }
  & .card {
    border: 1px solid var(--second-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
  }
  & .card_img {
    width: 100%;
    height: auto;
  }
  & .card_title {
    font-size: 20px;
    margin-top: 0;
  }
  & .card_content {
    padding: 20px;
  }
  & .card_text {
    margin-bottom: 15px;
  }
  & .card_link {
    color: var(--primary-color);
    text-decoration: none;
  }
  .card_link:hover {
    text-decoration: underline;
  }
}
