.techs {
  height: 500px;
  display: grid;
  grid-template-rows: 70px 1fr;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  & .tech_tittle {
    grid-column: span 3;
  }
  & h1 {
    text-align: center;
  }
  & h2 {
    text-align: center;
  }
  & li {
    margin: 10px auto;
    list-style: none;
  }
  & div {
    display: flex;
    flex-direction: column;
  }
}
